h1{
    font-family: 'Franklin Gothic Medium';
}
h2{
    font-family: 'Franklin Gothic Medium';

}



.special {
    background-color: lavender;
    border: solid 15px rgb(49, 58, 77);
    color: rgb(58, 27, 46);
    font-weight: bold;
}

